<div class="container">
  <h2>Add Student</h2>
  <form #studentForm="ngForm" ngNativeValidate (ngSubmit)="createStudent(studentForm)">
    <div class="form-group">
      <label for="fname">Name:</label>
      <input type="text" #fname="ngModel" required #fnames [(ngModel)]="student.fname" [class.is-invalid]="fname.invalid && fname.touched"
        class="form-control input-sm" id="fname" placeholder="Enter name" name="fname">
    </div>
    {{fname.className|json}}
    <div class="form-group">
      <label for="dob">DOB:</label>
      <input type="date" [(ngModel)]="student.dob" #dob="ngModel" class="form-control input-sm" id="dob" placeholder="Enter dob"
        name="dob">
    </div>
    {{dob.dirty}}
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" #email="ngModel" name="email" class="form-control input-sm" [(ngModel)]="student.email" id="email"
        placeholder="Enter email">
    </div>

    <div ngModelGroup="address">
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" name="city" class="form-control input-sm" [(ngModel)]="student.address.city" id="city" #city="ngModel"
          placeholder="Enter city">
      </div>
      <div class="form-group">
        <label for="email">Road:</label>
        <input type="text" name="road" class="form-control input-sm" [(ngModel)]="student.address.road" id="road" #road="ngModel"
          placeholder="Enter road">
      </div>
    </div>
    <div *ngIf="0==0" class="form-group">
      <label for="male">Gender:</label>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" value="male" [(ngModel)]="student.gender" name="gender" #gender="ngModel">Male
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" value="female" [(ngModel)]="student.gender" name="gender"
            #gender="ngModel">Female
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="male">Is Active:</label>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" [(ngModel)]="student.isactive" name="isactive"> Is Active
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="grade">Grade:</label>
      <div class="form-group">
        <select class="form-control input-sm" id="grade" name="grade" [(ngModel)]="student.grade">
          <option *ngFor="let grade of student.grades" [value]="grade.id">{{grade.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="contact">Contact:</label>
      <input type="number" [(ngModel)]="student.contact" max="9999999999" [class.is-invalid]="contact.invalid" min="1000000000"
        class="form-control input-sm" id="contact" placeholder="Enter mobile number" name="contact" #contact="ngModel">
    </div>
    {{contact.pristine|json}}
    <div class="form-group">
      <label for="photo">Photo</label>
      <input type="text" class="form-control input-sm" id="PhotoPath" [(ngModel)]="student.PhotoPath" name="PhotoPath">
    </div>
    <button type="button" class="btn btn-primary" (click)="preview()">{{student.PhotoPreview?'Hide': 'Show'}}</button>
    <div class="row" *ngIf="student.PhotoPreview">
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" [src]="student.PhotoPath" alt="Card image cap">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{studentForm.value |json}}

<!-- src/
assets/images/Students/_free-icons_png_512_2612547.png -->
