<!--The content below is only a placeholder and can be replaced.-->
<div style="color:cadetblue;text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<ul>
  <h1>{{pageHeader}}</h1>
  <div style="padding:5px">
    <ul class="nav nav-tabs">
      <li routerLinkActive="active"> <a routerLink ="home">Home</a></li>
      <li routerLinkActive="active"> <a routerLink ="list">List</a></li>
    </ul>
  </div>
  <!-- <app-employee-list></app-employee-list> -->
  <!-- <app-employee></app-employee> -->
</ul>
</div>
<router-outlet></router-outlet>